.ui.opoly > .game > .board {
  display: flex;
  flex: 1 1;

  table {
    table-layout: fixed;
    background-color: #d5e8d4;
    color: black;
    width: 100%;
    height: 100%;

    tr, td {
      padding: 0;
      margin: 0;
    }

    td {
      border: 1px solid black;
    }
  }

  .board-middle {
    width: 75%;
    text-align: center;
    background-color: #d5e8d4;
  }
}